<hr class="my-hr">
    <footer>
        <div class=" mb-0 pb-0">
            <p class="text-center py-3">© 2024 Memorise App. All rights reserved.</p>
        </div>
    </footer>
    <script src="/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>