<nav class="fixed-top">
    <div class="container py-3 d-flex align-items-center justify-content-between">
        <div>
            <a class="menu-items" href="/">Memorise <i class="fa-solid fa-layer-group"></i></a>
        </div>
        <div>
            <a class="menu-items small " href="/">Home</a>
            <a class="menu-items  small ms-3" href="#">Learn</a>
            <a class="menu-items  small ms-3" href="/words">Words</a>
            <a class="menu-items  small ms-3" href="#">Dashboard</a>
            <a class="menu-items  small ms-3" href="#">Contact</a>
            <a class="menu-items btn-collapse ms-3 small" href="#">Register</a>
            <a class="menu-items btn-collapse ms-1 small" href="#">Login</a>
        </div>
    </div>
</nav>
<hr class="my-hr"></hr>