<%- include('partials/_header'); %>

<body class="inter-my">
    <%- include('partials/_navigation'); %>

    <div class="container mt-4">
        <div class="row mt-4">
            <div class="mt-4 d-flex flex-column align-items-center justify-content-center">
                <h3 class="mt-4">Get In Touch With Me</h3>
                <span>If you have any questions, feedback, or just want to say hi, you can contact me here. I’ll respond as soon as I can.</span>


            </div>
        </div>
    </div>

    <%- include('partials/_footer'); %>