<%- include('partials/_header'); %>

<body class="inter-my">
    <%- include('partials/_navigation'); %>

    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="mt-5 col-md-6 d-flex flex-column justify-content-center offset-md-3">
                <% if(userIN) { %>
                <h1 class="mb-4 text-center">Welcome <span class="back-span">back</span> to <span class="text-theme-green">{</span> Memorise <span class="text-theme-green">}</span></h1>
                <% } else { %>
                <h1 class="mb-4 text-center">Welcome to <span class="text-theme-green">{ </span> Memorise <span class="text-theme-green">}</span></h1>
                <% } %>
            </div>
        </div>
    </div>
    <div class="container my-border">
        <div class="row offset-1">
            <div class="d-flex col-8 align-items-center">
                <i class="fa-solid fa-graduation-cap fa-3x d-flex align-items-center"></i>
                <h4 class=" ms-3 d-flex justify-content-center">Learn words and partice from any languages you want with flash cards.</h4>
            </div>
            <div class="col-3">
                <img src="/pictures/learn.png" alt="" style="width: 500px;">
            </div>
        </div>
    </div>
    <div class="container my-border">
        <div class="row offset-1">
            <div class="d-flex col-8 align-items-center">
                <i class="fa-solid fa-chart-line fa-3x d-flex align-items-center"></i>
                <h4 class=" ms-3 d-flex justify-content-center">Track your own progress with charts.</h4>
            </div>
            <div class="col-3">
                <img class="shadow rounded-1" src="/pictures/chart.png" alt="" style="width: 500px;">
            </div>
        </div>
    </div>
    <div class="container my-border">
        <div class="row offset-1">
            <div class="d-flex col-8 align-items-center">
                <i class="fa-solid fa-book-bookmark fa-3x d-flex align-items-center"></i>
                <h4 class=" ms-3 d-flex justify-content-center">Get flashcards in front of you according to your level.</h4>
            </div>
            <div class="col-3">
                <img class="me-3 shadow bg-white rounded-1" src="/pictures/levels3.png" alt="" style="width: 500px;">
            </div>
        </div>
    </div>
    <div class="container my-border">
        <div class="row offset-1 d-flex flex-column">
            <div class="d-flex col-8  align-items-center">
                <div class="d-flex align-items-center mt-3 mb-3">
                    <i class="fa-solid fa-pen-nib fa-3x"></i>
                    <h4 class="ms-3 d-flex">Internalise random words by practising them with writing exercises.</h4>
                </div>
            </div>
            <div class="col-3">
                <img class="shadow" src="/pictures/write.png" alt="" style="width: 1100px;">
            </div>
            
        </div>
    </div>       

    <div class="container mb-5 p-5 my-border">
        <div class="row">
            <div class="col-4 offset-5">
                <a href="#" class="start-btn btn btn-success btn-lg justify-content-center">Start Learning</a>
            </div>
            
        </div>
    </div>

    <%- include('partials/_footer'); %>
</body>                
    