<%- include('partials/_header'); %>

<body class="inter-my">
    <%- include('partials/_navigation'); %>

    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="mt-5 col-md-6 d-flex flex-column justify-content-center offset-md-3">
                <% if(userIN) { %>
                <h1 class="mb-4 text-center">Welcome <span class="back-span">back</span> to <span class="text-theme-green">{</span> Memorise <span class="text-theme-green">}</span></h1>
                <% } else { %>
                <h1 class="mb-4 text-center">Welcome to <span class="text-theme-green">{ </span> Memorise <span class="text-theme-green">}</span></h1>
                <% } %>
            </div>
        </div>
    </div>
    <div class="container my-border">
        <div class="row offset-1">
            <div class="d-flex col-8 align-items-center">
                <h4 class="mb-4 d-flex justify-content-center">Learn words and partice from any languages you want with flash cards.</h4>
            </div>
            <div class="col-3">
                <img src="https://d35aaqx5ub95lt.cloudfront.net/images/splash/lottie/a774fe14d71e450d59a9bc4ed5d210c9.png" alt="">
            </div>
        </div>
    </div>
    <div class="container my-border">
        <div class="row offset-1">
            <div class="col-3">
                <img src="https://d35aaqx5ub95lt.cloudfront.net/images/splash/lottie/a774fe14d71e450d59a9bc4ed5d210c9.png" alt="">
            </div>
            <div class="d-flex col-8 offset-1 align-items-center">
                <div>
                    <h4 class="mb-4 d-flex justify-content-center">Add your own flashcards or use our ready to learn cards.</h4>
                </div>
            </div>
        </div>
    </div>       

    <div class="container mb-5 p-5 my-border">
        <div class="row">
            <div class="col-4 offset-5">
                <a href="#" class="start-btn btn btn-success btn-lg justify-content-center">Start Learning</a>
            </div>
            
        </div>
    </div>

    <%- include('partials/_footer'); %>
</body>                
    