<%- include('partials/_header'); %>

<body class="inter-my">
    <%- include('partials/_navigation'); %>
    <div class="heigh d-flex align-items-center">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-center parent-word-card">
                        <div class="col-6 back-word-card"></div>
                        <div class="col-6 d-flex flex-column justify-content-center bg-white word-card">
                            <div class="mt1 d-flex justify-content-between">
                                <div>
                                    <i id="category-icon" class="fa-solid fa-boxes-stacked me-1 ms-3"></i><span id="category" class="small"></span>
                                </div>
                                <div>
                                    <i id="progress-icon" class="fa-solid fa-circle"></i><span id="progress"></span>
                                </div>
                            </div>
                            <div class="word-card-in">
                                <div class="d-flex flex-column justify-content-center align-items-center word-card-word point-it word-front">
                                    <h2 class="quicksand-500" id="word"></h2>
                                    <h5 class="quicksand-500 text-secondary" id="phonetic"></h5>
                                </div>
                                <div class="d-flex d-none justify-content-center align-items-center word-card-word point-it word-back">
                                    <h2 class="quicksand-500" id="meaning"></h2>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-center justify-content-around">
                                <button id="forgotBtn" href="" class="btn word-btn"><i class="fa-solid fa-repeat"></i> Forgot</button>
                                <button id="rememberedBtn" class="btn word-btn"><i class="fa-solid fa-check"></i> Remembered</button>
                                <a id="addWordsBtn" href="/words" class="btn word-btn-after"><i class="fa-solid fa-plus"></i> Add New Word</a>
                            </div>
                        </div>
                    </div>         
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="noWordsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
        <div class="modal-body">
            🌱 “Let’s begin! Add a few words first, then you can start practising the exercises.”
        </div>
        <div class="modal-footer">
            <a type="button" href="/words" class="btn btn-dark btn-sm">Add Words</a>
        </div>
        </div>
    </div>
    </div>

<%- include('partials/_footer'); %>
<script src="/js/learn.js"></script>

