<%- include('partials/_header'); %>

<body>

    <%- include('partials/_navigation'); %>

    <div class="container mt-5 mb-5" style="height: 80.5vh;">
        <div class="row mt-5 align-items-center justify-content-center" style="height: 80vh;">
            <div class="col-6 d-flex align-items-center justify-content-center">
                <form class="auth-border" method="POST" action="/users/login">
                    <div>
                        <h2 class="text-center auth-header">LOGIN</h2>
                    </div>
                    <hr>
                    <div class="d-flex mt-4 align-items-center">
                        <i class="fa-solid fa-envelope fa-lg me-2"></i>
                        <div>
                            <input class="p-3 form-control reg-input" name="email" type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="d-flex mt-4 align-items-center">
                        <i class="fa-solid fa-key fa-lg me-2"></i>
                        <div>
                            <input class="p-3 form-control reg-input" name="password" type="password" placeholder="Password">
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-warning mt-3 btn-lg rounded-1 reg-input">Login</button>
                    </div>
                    <div class="mt-3">
                        <span>Don't have an account yet? <a class="text-decoration-none" href="/register">Register</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>

<%- include('partials/_footer'); %>

</body>