/* words ----------------------------------------------------------*/

.text-theme-green-me{
    color: #10B981;
}

.category-border {
    border: 1px solid #1f2937;
    border-radius: 10px;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    background-color: white;
}

.word-border {
    border: 1px solid #1f2937;
    border-radius: 10px;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    margin-bottom: 50px;
    background-color: white;
    min-height: 76.7vh;
}

.categoryActive {
    background-color:#10B981;
    color: white;
}

.wordEditBtn{
    padding: 0px;
    padding-top: 0px;
}

.wordDeleteBtn {
    padding: 0px;
    padding-top: 0px;
}

