/* fonts */
.quicksand-300 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.quicksand-500 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.menu-items {
    text-decoration: none;
    color:white;
    font-weight: 400;
    letter-spacing: 1px;
    font-size:large
}

.menu-items:hover {
    color: #10B981;
    text-underline-offset: 5px;
}

.btn-collapse {
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    border-color: white;
}

.btn-collapse:hover {
    color: #10B981;
    border-color: #10B981;
}

.navbar a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; /* kalın */
  letter-spacing: 1px;
}

nav {
    background-color: #1f2937;
}

.my-hr {
    margin: 0;
    border: 0;
    border-top: 5px solid black;
}

.reg-input {
    min-width: 600px;
}

.auth-header {
    font-weight: bold;
    color: #1f2937;
}

.auth-border {
    border: 1px solid #1f2937;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 50px;
    background-color: white;
}

.my-border {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.5);
}

.start-btn {
    width: 200px;
    border-radius: 20px;
}

.search-bar {
    padding-left: 10px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F4F6F7;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #1F2937;
    color: #FFFFFF;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


/* home */
.back-span {
    color: #10B981;
}

/* words */

.word-border {
    border: 1px solid #1f2937;
    border-radius: 10px;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 50px;
    background-color: white;
    min-height: 76.7vh;
}

.dashed-left {
    border-left: 2px dashed #1f2937 !important;
}

.point-it {
    cursor: pointer;
}

.categoryActive {
    background-color:#10B981;
    color: white;
}


/* learn page */
.inter-my {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}

.heigh {
    height: 829px;
}

.word-card {
    height: 400px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.word-card-word {
    height: 330px;
}

.word-btn {
    padding-left: 105px;
    padding-right: 105px;
    border-radius: 0px;
    margin: 0px;
}

.word-btn:hover {
    border: 1px solid #1F2937;
}

.word-btn-after {
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 0px;
    margin: 0px;
}

.word-btn-after:hover {
    border: 1px solid #1F2937;
}

/* dashboard */
.bg-theme-1 {
    background-color: #1F2937;
    color: white;
}

.text-theme-green{
    color: #10B981;
}

.text-theme-1 {
    color: #1F2937;
}

.min-heigh-vh {
    min-height: 85.7vh;
}

.color-new {
    color: rgb(54, 162, 235,0.7);
}

.color-remembered {
    color: rgb(255, 165, 0)
}

.color-writed {
    color: rgb(153, 102, 255,0.7);
}

.color-mastered {
    color: rgba(50, 150, 150, 0.9);
}

.color-legendary {
    color: rgba(255, 99, 71, 0.8)
}
